

/* @import "tailwindcss" */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Common CSS */
.contrainer{
  max-width: 1240px;
  margin: 0px auto;
}

.banner-description{
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5); 
}
.fresh-flowers{
  color: #E95A08;
}

/* Navbar section */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubar ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 48px;
}
.menubar ul a{
text-decoration: none;
}
.home a{
  color: #252432;
  font-weight: bold;
}
.shop a{
  color: #8987A1;
}
.cart a{
  color: #000000;
}

/* Banner Section */
.banner-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
  margin-top: 120px;
}
.banner-title{
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Plants Section */
.card-header{
  text-align: center;
  margin-top: 120px;
}
.card-title{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}
.card-section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card{
  margin-top: 30px;
  text-align: center
}
.card-des{
  font-size: 22px;
  font-weight: 400;
  color: #111111;
  margin: 10px;
}
.price{
  font-size: 22px;
  font-weight: bold;
  color: #111111;
  margin: 10px;
}
.card-btn{
  background-color: #E95A08;
  color: #FFFFFF;
  font-size: 16px;
  padding: 19px 80px;
  border: none;
}

/* Plant Lover Section */
.plant-lover-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 210px;
  gap: 60px;
}
.shop-title{
  font-size: 50px;
  font-weight: bold;
}
/* .trusted-badge{
  width: 286px;
  height: 286px;
} */

/* Latest Deal Section */
.deal-section{
  
}
.deal-title_subtitle{
text-align: center;
margin-top: 133px;
}
.deal-title{
  font-size: 50px;
  font-weight: bold;
}

/* Deal Card Section */
.deal-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0px;
}
.left-top-card{
  background-image: url(./Images/deal-bloom.png);  
  border-radius: 14px;
  background-size: cover;
  width: 405px;
  height: 200px;
}
.left-buttom-card{
  background-image: url(./Images/deal-ana.png);
  border-radius: 14px;
  background-size: cover;
  width: 405px;
  height: 200px;
}
.right-side-card{
  background-image: url(./Images/deal-zabo.png);
  color: #FFFFFF;
  border-radius: 22px;
  text-align: center;
  background-size: cover;
  width: 805px;
  height: 435px;
  margin-top: 20px;
}
.card-text{
color: #FFFFFF;
text-align: center;
font-size: 20px;
font-weight: bold;
}
.card-text-2{
color: #FFFFFF;
text-align: center;
font-size: 16px;
font-weight: bold;
}
.right-side-card h4{
  font-size: 40px;
  font-weight: bold;
}
.right-side-card h5{
  font-size: 28px;
  font-weight: 400;
}

/* Join Section */
.join-section{
  background-image: url(./Images/news-letter-bg.png);
  width: 100%;
  height: 553px;
  background-size: cover;
  text-align: center;
}
.join-section h2{
  font-size: 50px;
  font-weight: bold;
  color: #FFFFFF;
}

/* Footer Section */
.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}